@using web_app_asp_net_mvc_js.Models
@model Teacher

@{
    Layout = null;
    var controllerName = "Teachers";
    var actionName = "Create";
    var enctype = "multipart/form-data";
}



<h3>Преподаватель</h3>

@using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @enctype = enctype }))
{
    @Html.EditorForModel()

    <button class="btn btn-primary" onclick="Post('@controllerName','@actionName', '@enctype')">Сохранить</button>
    @Html.ActionLink("Отменить", "Index", controllerName, null, new { @class = "btn btn-danger" })
}

